* {
    padding: 0;
    margin: 0;
    border: 0;
  }

@media (min-width: 1366px){
  body{
    zoom: 105%;
  }
  canvas{
    margin-left: 400px;
  }
}

@media (min-width: 1367px){
  body{
    zoom: 135%;
  }
  canvas{
    margin-left: 350px;
  }
}


@media (min-width: 1601px){
  body{
    zoom: 135%;
  }
  canvas{
    margin-left: 480px;
  }
}
