* {
    padding: 0;
    margin: 0;
    border: 0;
  }

@media (max-width: 1366px){
  body{
    zoom: 90%;
  }
  canvas{
    margin-left: 420px;
  }
}

@media (min-width: 1536px){
  body{
    zoom: 100%;
  }
  canvas{
    margin-left: 490px;
  }
}

@media (min-width: 1601px){
  body{
    zoom: 125%;
  }
  canvas{
    margin-left: 490px;
  }
}
